/* header  */
body {
    user-select: none;
    background-color: #F3F4F6;
}

.header {
    background-image: url(../images/background-image@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    height: 240px;
    padding-top: 20px;
}

.font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.header_sect {
    margin: auto;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.checkout {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
}

.header_div {
    background-color: #1D1D1F;
    padding: 10px 20px;
    border-radius: 50px;
    height: 36px;

}

.items {
    color: #ffffff;
}

/* main tag */
.main_tag {
    display: flex;
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(96%, 1230px);
    padding-bottom: 15px;
}

/* left section */

.section_left {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
    background-color: #E5E7EB;
    width: 50%;
    padding: 30px 36px;
    border-radius: 15px 0 0 15px;
}

.items_div {
    display: flex;
    align-items: center;
    column-gap: 30px;
}


.items_image_div {
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid#D2D5DA;
    padding: 20px 8px;
}

.items_child_div {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    /* border: 2px solid green; */
    justify-content: space-between;
}

.items_info_div {
    display: flex;
    justify-content: space-between;
}

.item_name {
    font-weight: 600;
}

.item_color {
    line-height: 16px;
    color: #394150;
    font-weight: 500;
    margin-block: 13px 38px;
}

.price {
    font-weight: 600;
}

/* quantity div */
.quantity_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity_span {
    color: #394150;
}

.close_icon {
    cursor: pointer;
}

/* total price elements  */

.total_price_div {
    border-top: 2px solid #D2D5DA;
    padding-top: 32px;
}

.coupon_div {
    display: flex;
    column-gap: 6px;
}

.coupon_input {
    outline: none;
    border: 2px solid#D2D5DA;
    border-radius: 8px;
    padding: 16px 0 16px 16px;
    width: 76%;
    transition: .4s;
    font-size: 16px;
}

input:focus,
input:hover {
    border-color: rgba(0, 0, 0, 0.685);
    transition: .4s;

}

::placeholder {
    color: #394150;
}

.apply_btn {
    background-color: #1D1D1F;
    color: #FFFFFF;
    font-weight: 600;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s;
    text-wrap: nowrap;
}

.apply_btn:hover {
    transform: scale(1.1)
}

/* total list */

.total_ul {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.total_li {
    display: flex;
    justify-content: space-between;
}

.total_li h2,
span {
    color: #1D1D1F;
    font-weight: 600;
}

/* right section */

.section_right {

    background-color: #FFFFFF;
    padding: 30px 36px;
    border-radius: 0 15px 15px 0;
    width: 50%;
}



/* form tag */

.form_tag {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.form_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.contact_info {
    font-weight: 600;
}

.form_labels {
    color: #394150;
    font-weight: 600;
}

.form_input {
    padding: 18px 0 20px 20px;
    border-radius: 8px;
    border: 2px solid #D2D5DA;
    background-color: #F3F4F6;
    transition: .4s;
    outline: none;
    font-size: 16px;
    color: #394150;
    width: 100%;
}

.country_postalcode {
    display: flex;
    column-gap: 20px;
}

/* country div */
.country {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
}

select {
    font-size: 16px;
    font-weight: 600;
    padding: 0 20px 0 20px;
    /* add space on both sides */
    height: 54px;
    border: 2px solid #D2D5DA;
    border-radius: 8px;
    outline: none;
}


.country_select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 15px;
    background-color: #F3F4F6;
    border: 2px solid #D2D5DA;
    border-radius: 8px;
    height: 60px;

}

.country_name {
    font-weight: 600;
}

.arrow {
    cursor: pointer
}

/* postalcode div */
.postal_code {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 60px;
}

/* submit div */

.submit_btn {
    background-color: #1D1D1F;
    color: #FFFFFF;
    padding-block: 15px;
    font-size: 21px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s;
}

.submit_btn:hover {
    transform: translateY(-5px);
    background-color: #1D1D1F;
    box-shadow: 0 10px 15px -2px #1D1D1F;
}